@{
    ViewBag.Title = "Status";
}

<div class="wrapper col5">
<h2>Status</h2>
    <div>
        <div>
            <h3><u> Monthly Status</u></h3>
            <img src="~/Images/sm.PNG" />
        </div>
        <div>
            <h3>
                <u> Yearly Status</u>
            </h3>
            <img src="~/Images/sy.PNG" />
        </div>
    </div>
</div>