
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Template Name: Modular Business
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->

<div class="wrapper col5">
<h2>AboutUs</h2>
    <p>
        We are PUCITIANS doing our M.Sc. Computer science degree from <a href="www.pucit.edu.pk">Punjab University College of Information and Technology Lahore Punjab Pakistan</a> <br />
        For being an Attari we with the Blessing of Almighty ALLAH have made an successfull attempt to made an online web application using 
        <br />dynamic web developement approach. Moreover this has been a great oppertunity for us to use .NET Framework to build this application named
         <i>Self Evaluator</i>  <br />This application named SELF EVALUATOR is been made in order to automate the book of <a href="www.dawateislami.net">Dawat-e-islami</a><br />
         named <i> "72 Madani Inaamat" By Ameer-e-Ahl-e-Sunnat Bani-e-Dawat-e-Islami</i><br />
        We are PUCITIANS doing our M.Sc. Computer science degree Punjab University College of Information and Technology Lahore Punjab Pakistan <br />
        For being an Attari we with the Blessing of Almighty ALLAH we have made an successfull attempt to made an online web application using 
        <br />dynamic web developement approach. Moreover this has been a great oppertunity for us to use .NET Framework to build this application named
         <i>Self Evaluator</i>  <br />
        We are PUCITIANS doing our M.Sc. Computer science degree Punjab University College of Information and Technology Lahore Punjab Pakistan <br />
        For being an Attari we with the Blessing of Almighty ALLAH we have made an successfull attempt to made an online web application using 
        <br />dynamic web developement approach. Moreover this has been a great oppertunity for us to use .NET Framework to build this application named
         <i>Self Evaluator</i>  <br />
        We are PUCITIANS doing our M.Sc. Computer science degree Punjab University College of Information and Technology Lahore Punjab Pakistan <br />
        For being an Attari we with the Blessing of Almighty ALLAH we have made an successfull attempt to made an online web application using 
        <br />dynamic web developement approach. Moreover this has been a great oppertunity for us to use .NET Framework to build this application named
         <i>Self Evaluator</i>  <br />
        We are PUCITIANS doing our M.Sc. Computer science degree Punjab University College of Information and Technology Lahore Punjab Pakistan <br />
        For being an Attari we with the Blessing of Almighty ALLAH we have made an successfull attempt to made an online web application using 
        <br />dynamic web developement approach. Moreover this has been a great oppertunity for us to use .NET Framework to build this application named
         <i>Self Evaluator</i>  <br />
        We are PUCITIANS doing our M.Sc. Computer science degree Punjab University College of Information and Technology Lahore Punjab Pakistan <br />
        For being an Attari we with the Blessing of Almighty ALLAH we have made an successfull attempt to made an online web application using 
        <br />dynamic web developement approach. Moreover this has been a great oppertunity for us to use .NET Framework to build this application named
         <i>Self Evaluator</i>  <br />
        We are PUCITIANS doing our M.Sc. Computer science degree Punjab University College of Information and Technology Lahore Punjab Pakistan <br />
        For being an Attari we with the Blessing of Almighty ALLAH we have made an successfull attempt to made an online web application using 
        <br />dynamic web developement approach. Moreover this has been a great oppertunity for us to use .NET Framework to build this application named
         <i>Self Evaluator</i>  <br />
    </p>
</div>