
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Template Name: Modular Business
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<div class="wrapper col5">
<h2>ContactUs</h2>
    	<!-- Comment Form -->
		
		
			<h3 id="respond">Follow for contact</h3>
			<form action="http://www.softwaretestinghelp.com/wp-comments-post.php" method="post" id="comment_form">
			
										<p><input class="text_input" type="text" name="author" id="author" value="" tabindex="1" /><label for="author"><strong>Name</strong></label></p>
				<p><input class="text_input" type="text" name="email" id="email" value="" tabindex="2" /><label for="email"><strong>Mail</strong></label></p>
				<p><input class="text_input" type="text" name="url" id="url" value="" tabindex="3" /><label for="url"><strong>Website (Optional)</strong></label></p>
							<!--<p><small><strong>XHTML:</strong> You can use these tags: &lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt; </small></p>-->
			
				<p><textarea class="text_input text_area" name="comment" id="comment" rows="7" tabindex="4"></textarea></p>
			
							
				<p>
					<input name="submit" class="form_submit" type="submit" id="submit" tabindex="5" value="Submit" />
					<input type="hidden" name="comment_post_ID" value="3332" />
				</p>
		

				<input type="hidden" name="b8aca0817487c6edc79c6efd638910d6" value="b8aca0817487c6edc79c6efd638910d6"/><p id="gasp_p" style="clear:both;"></p></form><script type="text/javascript">
                                                                                    var gasp_p = document.getElementById("gasp_p");
				                                                                                                                                                  var gasp_cb = document.createElement("input");
				                                                                                                                                                  var gasp_text = document.createTextNode(" Spam check: Confirm that you want to Post Comment");
				                                                                                                                                                  gasp_cb.type = "checkbox";
				                                                                                                                                                  gasp_cb.id = "ck_box_2aa";
				                                                                                                                                                  gasp_cb.name = "ck_box_2aa";

				                                                                                                                                                  var gasp_label = document.createElement("label");
				                                                                                                                                                  gasp_p.appendChild(gasp_label);
				                                                                                                                                                  gasp_label.appendChild(gasp_cb);
				                                                                                                                                                  gasp_label.appendChild(gasp_text);
				                                                                                                                                                  var frm = gasp_cb.form;
				                                                                                                                                                  frm.onsubmit = gasp_it;
				                                                                                                                                                  function gasp_it() {
				                                                                                                                                                      if (gasp_cb.checked != true) {
				                                                                                                                                                          alert("Please check the box below the SUBMIT buton to confirm that you want to post the comment");
				                                                                                                                                                          return false;
				                                                                                                                                                      }
				                                                                                                                                                      return true;
                                                                                                                                        }</script>
</div>