@model Evaluator.Models.Status
@*@model Evaluator.Models.User*@
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Template Name: Modular Business
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<div class="wrapper col5">
   <form action="#" method="post">
    <div id="container">
      
      <img src="~/Images/d1.PNG" /><input name ="d1" type="checkbox" />
      <img src="~/Images/d2.PNG" /><input name ="d2" type="checkbox" />
      <img src="~/Images/d3.PNG" /><input name ="d3" type="checkbox" />
      <img src="~/Images/d4.PNG" /><input name ="d4" type="checkbox" />
      <img src="~/Images/d5.PNG" /><input name ="d5" type="checkbox" />
      <img src="~/Images/d6.PNG" /><input name ="d6" type="checkbox" />
      <img src="~/Images/d7.PNG" /><input name ="d7" type="checkbox" />
      <img src="~/Images/d8.PNG" /><input name ="d8" type="checkbox" />
      <img src="~/Images/d9.PNG" /><input name ="d9" type="checkbox" />
      <img src="~/Images/d10.PNG" /><input name ="d10" type="checkbox" />
      <img src="~/Images/d11.PNG" /><input name ="d11" type="checkbox" />
      <img src="~/Images/d12.PNG" /><input name ="d12" type="checkbox" />
      <img src="~/Images/d13.PNG" /><input name ="d13" type="checkbox" />
      <img src="~/Images/d14.PNG" /><input name ="d14" type="checkbox" />
      <img src="~/Images/d15.PNG" /><input name ="d15" type="checkbox" />
      <img src="~/Images/d16.PNG" /><input name ="d16" type="checkbox" />
      <img src="~/Images/d17.PNG" /><input name ="d17" type="checkbox" />
      <img src="~/Images/d18.PNG" /><input name ="d18" type="checkbox" />
      <img src="~/Images/d19.PNG" /><input name ="d19" type="checkbox" />
      <img src="~/Images/d20.PNG" /><input name ="d20" type="checkbox" />
      <img src="~/Images/d21.PNG" /><input name ="d21" type="checkbox" />
      <img src="~/Images/d22.PNG" /><input name ="d22" type="checkbox" />
      <img src="~/Images/d23.PNG" /><input name ="d23" type="checkbox" />
      <img src="~/Images/d24.PNG" /><input name ="d24" type="checkbox" />
      <img src="~/Images/d25.PNG" /><input name ="d25" type="checkbox" />
      <img src="~/Images/d26.PNG" /><input name ="d26" type="checkbox" />
      <img src="~/Images/d27.PNG" /><input name ="d27" type="checkbox" />
      <img src="~/Images/d28.PNG" /><input name ="d28" type="checkbox" />
      <img src="~/Images/d29.PNG" /><input name ="d29" type="checkbox" />
      <img src="~/Images/d30.PNG" /><input name ="d30" type="checkbox" />
      <img src="~/Images/d31.PNG" /><input name ="d31" type="checkbox" />
      <img src="~/Images/d32.PNG" /><input name ="d32" type="checkbox" />
      <img src="~/Images/d33.PNG" /><input name ="d33" type="checkbox" />
      <img src="~/Images/d34.PNG" /><input name ="d34" type="checkbox" />
      <img src="~/Images/d35.PNG" /><input name ="d35" type="checkbox" />
      <img src="~/Images/d36.PNG" /><input name ="d36" type="checkbox" />
      <img src="~/Images/d37.PNG" /><input name ="d37" type="checkbox" />
      <img src="~/Images/d38.PNG" /><input name ="d38" type="checkbox" />
      <img src="~/Images/d39.PNG" /><input name ="d39" type="checkbox" />
      <img src="~/Images/d40.PNG" /><input name ="d40" type="checkbox" />
      <img src="~/Images/d41.PNG" /><input name ="d41" type="checkbox" />
      <img src="~/Images/d42.PNG" /><input name ="d42" type="checkbox" />
      <img src="~/Images/d43.PNG" /><input name ="d43" type="checkbox" />
      <img src="~/Images/d44.PNG" /><input name ="d44" type="checkbox" />
      <img src="~/Images/d45.PNG" /><input name ="d45" type="checkbox" />
      <img src="~/Images/d46.PNG" /><input name ="d46" type="checkbox" />
      <img src="~/Images/d47.PNG" /><input name ="d47" type="checkbox" />
      <img src="~/Images/d48.PNG" /><input name ="d48" type="checkbox" />
      <img src="~/Images/d49.PNG" /><input name ="d49" type="checkbox" />
      <img src="~/Images/d50.PNG" /><input name ="d50" type="checkbox" />
    
       <div >
        <input type="submit" value="Submit" />
       </div>
    </div>
   </form>
 </div>