    <div class="wrapper col5">
  <form action="#" method="post">
        <div id="container">
  
          <li> <img src="~/Images/m1.PNG" /><input id ="m1" type="checkbox" /></li>
          <li> <img src="~/Images/m2.PNG" /><input id ="m2" type="checkbox" /></li>
          <li> <img src="~/Images/m3.PNG" /><input id ="m3" type="checkbox" /></li>
          <li> <img src="~/Images/m4.PNG" /><input id ="m4" type="checkbox" /></li>
          <li> <img src="~/Images/m5.PNG" /><input id ="m5" type="checkbox" /></li>
          <li> <img src="~/Images/m6.PNG" /><input id ="m6" type="checkbox" /></li>
     <div >
        <input type="submit" value="Submit" />
       </div>
    </div>
      </form>
</div>