<!-- ####################################################################################################### -->
<div class="wrapper col5">
<form action="#" method="post">
    <div id="container">
      
      <img src="~/Images/w1.PNG" /><input id ="w1" type="checkbox" />
      <img src="~/Images/w2.PNG" /><input id ="w2" type="checkbox" />
      <img src="~/Images/w3.PNG" /><input id ="w3" type="checkbox" />
      <img src="~/Images/w4.PNG" /><input id ="w4" type="checkbox" />
      <img src="~/Images/w5.PNG" /><input id ="w5" type="checkbox" />
      <img src="~/Images/w6.PNG" /><input id ="w6" type="checkbox" />
      <img src="~/Images/w7.PNG" /><input id ="w7" type="checkbox" />
      <img src="~/Images/w8.PNG" /><input id ="w8" type="checkbox" />
     <div >
        <input type="submit" value="Submit" />
     </div>
   
    </div>
</form>
</div> 