<div class="wrapper col5">
  <form action="#" method="post">
    <div id="container">

               <img src="~/Images/y1.PNG" /><input id ="y1" type="checkbox" />
               <img src="~/Images/y2.PNG" /><input id ="y2" type="checkbox" />
               <img src="~/Images/y3.PNG" /><input id ="y3" type="checkbox" />
               <img src="~/Images/y4.PNG" /><input id ="y4" type="checkbox" />
               <img src="~/Images/y5.PNG" /><input id ="y5" type="checkbox" />
               <img src="~/Images/y6.PNG" /><input id ="y6" type="checkbox" />
               <img src="~/Images/y7.PNG" /><input id ="y7" type="checkbox" />
               <img src="~/Images/y8.PNG" /><input id ="y8" type="checkbox" />
      <div style=float-right>
        <input type="submit" value="Submit" />
       </div>
    </div>
      </form>
</div>